@model ResetPasswordViewModel

@{
    ViewData["Title"] = "ResetPassword";
}
<head>
    <link rel="stylesheet" href="~/lib/limonte-sweetalert2/sweetalert2.min.css">
</head>
<body class="authentication-page">

    <!-- Main Layout Start -->
    <div class="main-layout card-bg-1">
        <div class="container d-flex flex-column">
            <div class="row no-gutters text-center align-items-center justify-content-center min-vh-100">
                <div class="col-12 col-md-6 col-lg-5 col-xl-4">
                    <h1 class="font-weight-bold">Password Reset</h1>
                    <p class="text-dark mb-3">Enter your email address to reset password.</p>
                    <form class="mb-3" method="post">

                        <div class="form-group" style="text-align:left !important">
                            <label asp-for="Email" class="sr-only">Email Address</label>
                            <input asp-for="Email" class="form-control form-control-md userEmail" placeholder="Enter your email">
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>

                        <button class="btn btn-resetpass btn-lg btn-block btn-primary  text-uppercase font-weight-semibold" type="submit">Send Reset Link</button>
                    </form>

                    <p>Already have an account? <a class="font-weight-semibold" asp-controller="account" asp-action="signin">Sign in</a>.</p>
                </div>
            </div>
        </div>
    </div>
    <!-- Main Layout End -->
    <!-- Javascript Files -->
    <script src="~/vendors/jquery/jquery-3.5.0.min.js"></script>
    <script src="~/vendors/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="~/vendors/magnific-popup/jquery.magnific-popup.min.js"></script>
    <script src="~/vendors/svg-inject/svg-inject.min.js"></script>
    <script src="~/vendors/modal-stepes/modal-steps.min.js"></script>
    <script src="~/lib/jquery-toast-plugin/jquery.toast.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

    <script src="~/lib/limonte-sweetalert2/sweetalert2.all.min.js"></script>

    <!--alert confirm specialty end-->
    <script>
        //final function
        function redirecttoresetpassconfirm(forgetToken) {
            var date = new Date(),
                expires = 'expires=';
            date.setTime(date.getTime() + (5 * 60 * 1000)); // 5minute expired
            expires += date.toGMTString();
            document.cookie = 'forgettoken' + '=' + forgetToken + '; ' + expires + '; path=/';

            window.open("/account/resetpassconfirm", "_self");
        };

        //SendResetCode function
        async function SendResetCode(email) {
            const { value: code } = await Swal.fire({
                title: 'Enter the password sent to the e-mail address. \n (check your email)',
                input: 'password',
                inputPlaceholder: 'Enter a 6-digit confirmation code',
                validationMessage: "Reset code must consist of 6-digits only",
                reverseButtons: true,
                showCancelButton: true,
                confirmButtonColor: '#1cc88a',
                cancelButtonColor: '#858796',
                cancelButtonText: '<div><span>Cancel</span></div>',
                confirmButtonText: '<div><span>Continue</span> <i style="margin-left: 5px" class="fas fa-angle-right"></i></div>',
                inputAttributes: {
                    minlength: 6,
                    maxlength: 6,
                    autocapitalize: 'off',
                    autocorrect: 'off'
                }
            })
            let resetPassCode = "";
            if (code) {
                resetPassCode = code.toString();

                $.ajax({
                    url: '/account/CheckForgetCode',
                    data: {
                        userEmail: email,
                        inputResetPass: resetPassCode
                    },
                    type: "post",
                    dataType: "json",
                    success: async function (response) {

                        //final
                        if (response.status == false) {
                            Swal.fire(
                                'Error!',
                                'Reset Code is not valid!',
                                'error'
                            );
                        }
                        if (response.status) {
                            Swal.fire({
                                title: "Correct Password",
                                text: "Continue to set a new password",
                                type: "success"
                            }).then((result) => {

                                //Final
                                if (result.value) {

                                    //callback ResetPassword() function here!

                                    redirecttoresetpassconfirm(response.forgetToken);
                                };
                            });
                        };

                    },
                    error: function () {
                        Swal.fire(
                            'System Error!',
                            'Unexpected Error Occurred!',
                            'error'
                        )
                    }
                });
            }
        };

        //first alert
        $(document).ready(function () {
            if ($(".btn-resetpass").length) {
                $(".btn-resetpass").click(function (ev) {
                    ev.preventDefault();

                    let email = $(".userEmail").val();

                    $.ajax({
                        url: '/account/CheckEmailAddress',
                        data: {
                            userEmail: email
                        },
                        type: "post",
                        dataType: "json",
                        success: async function (response) {

                            if (response == false) {
                                Swal.fire(
                                    'Account Not Found!',
                                    'There is no Messenger App Account with the info you provided',
                                    'error'
                                );
                            }
                            if (response) {

                                Swal.fire({
                                    title: "Email Sent Successfully!",
                                    text: "Continue and enter the 6-digit confirmation code to reset your password",
                                    type: "success"
                                }).then((result) => {

                                    //callback final function
                                    if (result.value) {
                                        SendResetCode(email);
                                    };
                                });

                            };

                            //final
                            //if (response == false) {
                            //    Swal.fire(
                            //        'Account Not Found!',
                            //        'There is no Messenger App Account with the info you provided',
                            //        'error'
                            //    );
                            //}
                            //if (response) {

                            //    Swal.fire({
                            //        title: "Email Sent Successfully!",
                            //        text: "Continue and enter the 6-digit confirmation code to reset your password",
                            //        type: "success"
                            //    }).then((result) => {

                            //        //callback final function
                            //        if (result.value) {
                            //            SendResetCode(email);
                            //        };
                            //    });

                            //};

                        },
                        error: function () {
                            Swal.fire(
                                'System Error!',
                                'Unexpected Error Occurred!',
                                'error'
                            )
                        }
                    });

                });
            };
        });
    </script>
</body>

