
@{
    ViewData["Title"] = "VerifyEmail";
}

<body class="authentication-page">

    <!-- Main Layout Start -->
    <div class="main-layout card-bg-1">
        <div class="container d-flex flex-column">
            <div class="row no-gutters text-center align-items-center justify-content-center min-vh-100">
                <div class="col-md-12">
                    <img />
                    @if (ViewBag.VerifiedAccount)
                    {
                        <h1 class="font-weight-bold">Your account already verified !</h1>
                        <p>
                            <a class="font-weight-semibold" asp-controller="pages" asp-action="chat1">Continue</a>
                            to use Messenger Application.
                        </p>
                    }
                    else
                    {
                        <h1 class="font-weight-bold">@ViewBag.Message</h1>

                        if (ViewBag.IsVerified == false)
                        {
                            <p class="text-dark mb-3">
                                If you are having trouble getting a confirmation link,
                                <a class="font-weight-semibold" asp-controller="account" asp-action="signin">try again to get a confirmation link</a>
                                .
                            </p>
                        }
                        else
                        {
                            <p>
                                <a class="font-weight-semibold" asp-controller="pages" asp-action="chat1">Start</a>
                                to use Messenger Application.
                            </p>
                        }
                    }
                </div>

            </div>
        </div>
    </div>
    <!-- Main Layout End -->
    <!-- Javascript Files -->

</body>
@section Scripts{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}